# Ignore local class materials
brandonalcaide/bootcamp_Brandon_Alcaide/class_materials/# Ignore Python cache filesbrandonalcaide/bootcamp_Brandon_Alcaide/__pycache__/brandonalcaide/bootcamp_Brandon_Alcaide/*.pyc# Ignore environment filesbrandonalcaide/bootcamp_Brandon_Alcaide/.env
# DS_Store
brandonalcaide/bootcamp_Brandon_Alcaide/.DS_Store